<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../../static/user_profile/index.min.css">
</head>
<body>

<section class="main">
    <div class="main_block">
        <div class="main_box">
            <div class="main_box_img">
                <i class="fa-solid fa-ellipsis ellipsis"></i>
                <div class="main_box_name">
                    <img src="{{ teacher.user.image }}" alt="">
                    <div>{{ teacher.user.username }}</div>
                    <div class="change">
                        <a href="{{ url_for("edit_profile", user_id=teacher.user.id) }}">
                            <div class="container_change">
                                <i class="fa-solid fa-pen "></i>
                                <div>Edit</div>
                            </div>
                        </a>
                        <a href="{{ url_for("teacher_salary", teacher_id=teacher.id) }}">
                            <div class="container_change">
                                <i class="fa-solid fa-pen "></i>
                                <div>Salary</div>
                            </div>
                        </a>
                        {% if not teacher.classes %}
                            <a href="{{ url_for("delete_teacher", teacher_id=teacher.id) }}">
                                <div class="container_change">
                                    <i class="fa-solid fa-trash" style="color: red"></i>
                                    <div>Delete Teacher</div>
                                </div>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="information">
                <div class="main_box_information">Subject: <span>{{ teacher.subject.name }}</span></div>
                <div class="main_box_information">Name: <span>{{ teacher.user.name }}</span></div>
                <div class="main_box_information">Surname: <span>{{ teacher.user.surname }}</span></div>
                <div class="main_box_information">Parent name: <span>{{ teacher.user.parent_name }}</span></div>
                <div class="main_box_information">birth day: <span>{{ teacher.user.birth_date }}</span></div>
                <div class="main_box_information">Phone number: <span>{{ teacher.user.number }}</span></div>
                <div class="main_box_information">Address: <span>{{ teacher.user.address }}</span></div>
                <div class="main_box_information">Email: <span>{{ teacher.user.email }}</span></div>
            </div>
        </div>
        <div class="main_left">
            <div class="top">
                <div class="user"><i class="fa-solid fa-user"></i></div>
                <div>Teacher</div>
            </div>
            {% for class in teacher.classes %}
                <a href="{{ url_for('class_profile', class_id=class.id) }}">
                    <div class="main_about">
                        <div class="img">
                            <img src="" alt="">
                            <div>{{ class.name }}</div>
                        </div>
                        <div class="class">
                            {% for cl in class.teacher %}
                                <div>Teacher: <span>{{ cl.user.name }}</span></div>
                            {% endfor %}
                            <div>Student count: <span>{{ students }}</span></div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>


<script src="../../static/js/user_profiel/script.js"></script>
</body>
</html>