{% extends 'admin/index.html' %}
{% block css %}
    <link rel="icon" href="/static/img/logo.jpg">
    <link rel="stylesheet" href="../../static/css/student/main.min.css">
    <link rel="stylesheet" href="../../static/css/student/index.min.css">
{% endblock %}


{% block section %}
    <div class="index">
        <div class="names">
            <div class="names_buttons">

                <button class="filter_btn">Filter</button>
                <div class="double">
                    <div class="names_search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Qidiruv">
                    </div>
                </div>
                <div class="filter">
                    <select name="language_type" id="" class="language_type">
                        <option value="all">ALL</option>
                        {% for language in languages %}
                            <option value="{{ language.id }}">{{ language.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="class_number" class="class_number">
                        <option value="sinflar">sinflar</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                    </select>
                    <select name="" id="" class="color">
                        <option value="all">all</option>
                        <option value="green">green</option>
                        <option value="blue">blue</option>
                    </select>
                    <button class="form_filter">Search</button>
                </div>
                <a style="align-self: flex-end" href="{{ url_for("deleted_classes") }}">
                    <div style="padding: 10px; box-shadow: 0 0 10px 2px red; border-radius: 8px" class="deleted_teacher_container">
                        <h2 style="color: red">Deleted Classes</h2>
                        <i class="fa-solid fa-user-slash" style="color: red"></i>
                    </div>
                </a>
            </div>
            <div class="names_list">
                <table>
                    <thead>
                    <tr>
                        <th>No</th>
                        <th></th>
                        <th>Name</th>
                        <th>Teacher</th>
                        <th>Student number</th>
                        <th>Class number</th>
                        <th>Class color</th>
                        <th>Language</th>
                    </tr>
                    </thead>
                    <tbody class="tbody">
                    {% for page in pages.items %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="{{ url_for("class_profile",class_id=page.id ) }}">
                                {% if page.color == "green" %}
                                    <div style="background-color: green; width: 5rem; height: 5rem; border-radius: 50%"></div>
                                {% else %}
                                    <div style="background-color: blue; width: 5rem; height: 5rem; border-radius: 50%"></div>
                                {% endif %}</a>
                            </td>
                            {% if page.name %}
                                <td>{{ page.name }}</td>
                            {% else %}
                                <td>kiritilmagan</td>
                            {% endif %}
                            {% if not page.teacher %}
                                    <td></td>
                            {% else %}
                                <td>
                                {% for teach in page.teacher %}
                                    {{ teach.user.name }}
                                    {{ teach.user.surname }}
                                {% endfor %}
                                </td>
                            {% endif %}
                            <td>{{ page.student|length }}</td>
                            {% if page.class_number %}
                                <td>{{ page.class_number }}</td>
                            {% else %}
                                <td>kiritilmagan</td>
                            {% endif %}
                            {% if page.color %}
                                <td>{{ page.color }}</td>
                            {% else %}
                                <td>kiritilmagan</td>
                            {% endif %}
                            {% if page.language %}
                                <td>{{ page.language.name }}</td>
                            {% else %}
                                <td>kiritilmagan</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if student_count >= 50 %}
                <div class="next">
                    <button {% if not pages.has_prev %}class="disabled" {% endif %}><a
                            {% if not pages.has_prev %}class="disabled" {% endif %}
                            href="deleted_classes?page={{ pages.prev_num }}"><i
                            class="fa-solid fa-chevron-left"></i></a></button>
                    {% for page in pages.iter_pages() %}
                        <button><a href="deleted_classes?page={{ page }}">{{ page }}</a></button>
                    {% endfor %}
                    <button {% if not pages.has_prev %}class="disabled" {% endif %}><a
                            {% if not pages.has_prev %}class="disabled" {% endif %}
                            href="deleted_classes?page={{ pages.next_num }}"><i class="fa-solid fa-chevron-right"></i></a>
                    </button>
                </div>
            {% endif %}

        </div>


        <div class="create">
            <div class="create_block">
                <div class="create_name">
                    <h1>Create class</h1>
                    <input type="text" class="input class_name" placeholder="Enter your name">

                    <select name="" id="" class="teacher_id">
                        {% for teacher in teachers %}
                            <option value="{{ teacher.id }}">{{ teacher.user.name }}</option>
                        {% endfor %}
                    </select>
                    <button class="creat_btn create_bnt">Create</button>
                </div>

            </div>
        </div>
        <div class="add">
            <div class="names">
                <div class="names_list">
                    <table>
                        <thead>
                        <tr>
                            <th>No</th>
                            <th></th>
                            <th>Nomi</th>
                            <th>Sinf rahbar</th>
                            <th>O'quvchilar</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for group in  groups %}
                            <tr>
                                <td>1</td>
                                <td><img src="" alt=""></td>
                                {% if group.name %}
                                    <td>{{ group.name }}</td>
                                {% else %}
                                    <td>kiritilmagan</td>
                                {% endif %}

                                {% for foo in group.teacher %}
                                    {% if foo.user.name %}
                                        <td>{{ foo.user.name }}</td>
                                    {% else %}
                                        <td>kiritilmagan</td>
                                    {% endif %}

                                {% endfor %}
                                <td>{{ group.student|length }}</td>
                                <td><input class="radio" type="radio" name="class" data-id="{{ group.id }}"></td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>

                <button class="join">Add</button>
            </div>

        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="../../static/js/deleted_classes/deleted_classes.js"></script>
    {#    <script src="../../static/js/student/post_student.js"></script>#}
{% endblock %}