@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

html {
  font-size: 10px;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}
body::-webkit-scrollbar-track {
  background-color: #ffffff;
}
body::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #313131;
}

.introduction {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.introduction .school_background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}
.introduction a {
  text-decoration: none;
}
.introduction_logo {
  display: flex;
  width: 18rem;
  height: 7rem;
  align-items: center;
  justify-content: space-between;
  color: #001B61;
}
.introduction_logo img {
  width: 7.5rem;
}
.introduction_entrance {
  height: 8rem;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 5;
  right: 0;
}
.introduction nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
.introduction nav ol {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.introduction nav li {
  font-size: 1.8rem;
  list-style: none;
  transition: 0.3s;
  cursor: pointer;
  font-weight: 600;
  color: black;
}
.introduction nav li:hover {
  color: #001B61;
}
.introduction i {
  font-size: 2.2rem;
  color: #001B61;
  cursor: pointer;
  position: absolute;
  right: 5%;
}
.introduction h1 {
  font-size: 4rem;
  color: white;
}
.introduction p {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.77);
}
.introduction_link {
  right: 0;
  top: 50%;
  position: fixed;
}
.introduction_link_links {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 4rem;
  height: 15rem;
  background-color: rgba(0, 27, 97, 0.55);
}
.introduction_link_links i {
  font-size: 2.5rem;
  color: white;
}
.introduction_about {
  position: relative;
  width: 50rem;
  height: 34rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.introduction_about button {
  width: 17rem;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  background-color: transparent;
  border: 0.2rem solid white;
  transition: 0.5s;
  cursor: pointer;
}
.introduction_about button:hover {
  color: #001B61;
  background-color: white;
  border: 0.2rem solid white;
}
.introduction_backround {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(40, 40, 40, 0.48);
  padding: 13.5rem;
}

.menu {
  width: 100%;
  height: 90%;
  background-color: white;
  color: black;
  font-size: 2rem;
  position: absolute;
  top: -60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.menu_informations {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.menu_information {
  width: 35rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menu_information span {
  font-weight: 600;
  color: #001B61;
}

.border {
  width: 10rem;
  background-color: black;
  height: 1px;
}

.about {
  height: 100vh;
}
.about_block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.about_left {
  width: 35%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.about_img {
  width: 430px;
  height: 300px;
  background-color: #001B61;
  position: absolute;
  bottom: 0;
}
.about img {
  width: 350px;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about_right {
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0 0 10px 0 #a19f9f;
  padding: 20px;
}
.about h1 {
  font-size: 38px;
  color: #001B61;
  font-weight: 900;
}
.about p {
  font-size: 20px;
}
.about_button {
  align-self: flex-end;
}
.about_button button {
  width: 170px;
  height: 50px;
  background-color: #001B61;
  color: white;
  border: 2px solid #001B61;
  cursor: pointer;
  transition: 0.5s;
  font-size: 18px;
  align-self: flex-end;
}
.about_button button:hover {
  background-color: transparent;
  color: #001B61;
  border: 2px solid #001B61;
}

.news {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.news h1 {
  color: #001B61;
  letter-spacing: 1px;
  padding-left: 80px;
  font-size: 45px;
}
.news_block {
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.news_text {
  width: 300px;
  height: 450px;
  box-shadow: 0 0 10px 0 #a9a8a8;
}
.news_text_img {
  width: 100%;
  height: 200px;
}
.news_text_img img {
  height: 100%;
  width: 100%;
}
.news_box {
  padding: 10px;
  height: 220px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.news_button {
  align-self: flex-end;
  padding-right: 135px;
}
.news button {
  width: 170px;
  height: 50px;
  background-color: #001B61;
  color: white;
  border: 2px solid #001B61;
  cursor: pointer;
  transition: 0.5s;
  font-size: 18px;
  align-self: flex-end;
}
.news button:hover {
  background-color: transparent;
  color: #001B61;
  border: 2px solid #001B61;
}

@media (max-width: 1200px) {
  .about_left {
    width: 40%;
  }
  .about_right {
    width: 30%;
  }
  .about_right button {
    width: 140px;
    height: 45px;
  }
  .about_img {
    width: 400px;
    height: 280px;
  }
  .about img {
    width: 330px;
  }
  .about p {
    font-size: 18px;
  }
  .menu_informations {
    width: 90%;
    height: 90%;
  }
  .menu_information {
    height: 20rem;
  }
}
@media (max-width: 1024px) {
  .menu {
    height: 86%;
  }
  .menu_informations {
    height: 80%;
  }
  .menu_information {
    font-size: 1.5rem;
    width: 30rem;
    height: 15rem;
  }
}
@media (max-width: 768px) {
  .test_title {
    display: initial;
  }
  .introduction_entrance nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .introduction_entrance nav ol {
    display: none;
  }
  .introduction_about {
    display: flex;
    align-items: center;
  }
  .introduction_about h1 {
    text-align: center;
  }
  .menu_informations {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=school.css.map */
