<header class="introduction_entrance">
    <nav>
        <a href="{{ url_for('home') }}">
            <div class="introduction_logo">
                <img src="/static/img/logo.png" alt="">

            </div>
        </a>
        <div class="menuCont">
            <ol>
                <li class="aboutLi">
                    <div class="about_us">
                        <p  class="other_link">About us</p>
                        {#                        <a  href="{{ url_for('about_front',type_id=1,info_id=about_id) }}"></a>#}
                        <div class="about_us_menu">
                            <a href="{{ url_for("teach_asses") }}">
                                <div class="class_items">
                                    <p>Teaching and Assessment</p>
                                </div>
                            </a>
                            <a href="{{ url_for("student_learning_and_well_being") }}">
                                <div class="class_items">
                                    <p>Students’ learning and Well-being</p>
                                </div>
                            </a>
                            <a href="{{ url_for("community_and_partnership") }}">
                                <div class="class_items">
                                    <p>Community and Home Partnership</p>
                                </div>
                            </a>
                            <a href="{{ url_for("premises") }}">
                                <div class="class_items">
                                    <p>Premises</p>
                                </div>
                            </a>
                            <a href="{{ url_for("staffing") }}">
                                <div class="class_items">
                                    <p>Staffing</p>
                                </div>
                            </a>
                            <a href="{{ url_for("governance_ownership_leadership") }}">
                                <div class="class_items">
                                    <p>Governance, Ownership and Leadership</p>
                                </div>
                            </a>
                            <a href="{{ url_for("purpose_direction") }}">
                                <div class="class_items">
                                    <p>Purpose Direction</p>
                                </div>
                            </a>
                            <a href="{{ url_for("curriculum") }}">
                                <div class="class_items">
                                    <p>Curriculum</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li><a class="other_link" href="{{ url_for('education') }}">Education</a></li>
                <li><a class="other_link" href="{{ url_for('news_front') }}">News</a></li>
                <li><a class="other_link" href="{{ url_for('work_info') }}">Work with us</a></li>
                <li><a class="other_link" href="{{ url_for('campus_life') }}">Campus Life</a></li>
                <li><a class="other_link" href="{{ url_for('time_table') }}">Academic Calendar</a></li>
                <li>
                    <a href="{{ url_for('login') }}">
                        <div class="register_button login">
                            Login
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for("mock") }}">
                        <div style="background-color: #EFC18D" class="register_button">
                            Apply
                        </div>
                    </a>

                </li>
            </ol>

        </div>

        {#        <ol>#}
        {#            <li><a href="">Campus Life</a></li>#}
        {#            <li><a href="">Admission</a></li>#}
        {#            <li><a href="{{ url_for('time_table') }}">Time Table</a></li>#}
        {#            <li>#}
        {#                <div class="register_button">#}
        {#                    Register#}
        {#                </div>#}
        {#            </li>#}
        {#        </ol>#}

        <i class="fa-solid fa-bars menu_icon"></i>
    </nav>
</header>
<div class="menu">
    <div class="menu_informations">
        {#        <div class="menu_information">#}
        {#            <div class="menu_section"><span>CIS</span></div>#}
        {#            <div class="border"></div>#}
        {#            <div>About this site</div>#}
        {#            <div> Our website</div>#}
        {#            <div> Cookies</div>#}
        {#            <div> Privacy police</div>#}
        {#            <div>Participant data and booking</div>#}
        {#            <div> Contact us</div>#}
        {#        </div>#}
        {##}
        {#        <div class="menu_information">#}
        {#            <div><span>CIS</span></div>#}
        {#            <div class="border"></div>#}
        {#            <div>About this site</div>#}
        {#            <div> Our website</div>#}
        {#            <div> Cookies</div>#}
        {#            <div> Privacy police</div>#}
        {#            <div>Participant data and booking</div>#}
        {#            <div> Contact us</div>#}
        {#        </div>#}
        <ol>
            <li><a href="{{ url_for('about_front',type_id=1,info_id=about_id) }}">About us</a></li>
            <li><a href="{{ url_for('education') }}">Education</a></li>
            <li><a href="{{ url_for('news_front') }}">News</a></li>
            <li><a href="{{ url_for('work_info') }}">Work with us</a></li>
            <li><a href="{{ url_for('time_table') }}">Academic Calendar</a></li>
        </ol>
    </div>
</div>
<div class="hamburger">
    <div class="hamburger_circle2"></div>
    <div class="hamburger_icon">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="hamburger_circle"></div>
    <div class="hamburger_circle3"></div>
</div>
<div class="introduction_link">
    <div class="introduction_link_links">

        <a href="https://www.instagram.com/turon_international_school/">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <i class="fa-brands fa-telegram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-solid fa-comment comment"></i>
    </div>
</div>
<div class="com">
    <form class="mini" method="post" action="{{ url_for('add_comment') }}">
        <i class="fa-solid fa-x splice"></i>
        <label class="mini_label">
            <span>Text</span>
            <textarea class="mini_label_text" name="text" placeholder="Izoh qoldiring!"></textarea>
        </label>
        <button class="send">Yuborish</button>
    </form>
</div>
