{% extends 'admin/index.html' %}
{% block title %} Izohlar {% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/comment/murojat.min.css">
{% endblock %}
{% block section %}
    <section class="murojat">
        <h1>Comments</h1>

        <div class="murojat_table">
            {% for comment in comments %}
                <div class="murojat_text">
                    <p>{{ comment.text }}</p>
                    <div class="murojat_delete"><i class="fa-solid fa-trash"></i></div>
                </div>
                <a class="delete" href="{{ url_for('delete_comment',comment_id=comment.id) }}"></a>
            {% endfor %}
        </div>


    </section>

{% endblock %}
{% block js %}
    <script src="/static/js/comments/script.js"></script>
{% endblock %}