{% extends 'admin/index.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/creat_timetable/table.min.css">
{% endblock %}
{% block section %}
    <section class="time">
        <div class="message">
            <h4></h4>
        </div>
        <div class="div">
            <button id="class">Class</button>
            <a href="{{ url_for("flow_timetable") }}">
                <button id="patok">Patok</button>
            </a>
        </div>
        <div class="fanlar">
            {% for class in classes %}
                <div data-active="false" data-id="{{ class.id }}" class="fan"
                        {% if class.color == "green" %}
                     style="background-color: green"
                        {% else %}
                     style="background-color: blue"
                        {% endif %}
                >{{ class.class_number }}-{{ class.color }}
                </div>
            {% endfor %}
        </div>
        <div class="time_btns">
            <button id="subject">Subjects</button>
            <button id="teacher">Teachers</button>
            <button id="room">Rooms</button>
        </div>
        <div class="time_subjects active_var" id="subject_list">
            <div class="time_first subject_container">
                {% for subject in subjects %}
                    <div class="time_subject subjects" data-subjectId="{{ subject.id }}"
                         draggable="true">{{ subject.name }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="time_subjects" id="teacher_list">
            <div class="time_first">
                {% for teacher in teachers %}
                    <div class="time_subject teachers" draggable="true"
                         data-teacherId="{{ teacher.id }}">{{ teacher.user.name }} {{ teacher.user.surname }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="time_subjects" id="room_list">
            <div class="time_first">

                {% for room in rooms %}
                    <div class="time_subject rooms" draggable="true"
                         data-roomId="{{ room.id }}">{{ room.name }}</div>
                {% endfor %}

            </div>
        </div>
        <div class="variant_and_table">


            <div class="main_container">

                <div class="container_direction">
                    <div class="time_two">

                        <div class="time_table">
{#                            <table class="table">#}
{##}
{#                                <caption class="caption"#}
{#                                        {% if time_table[0]["class"]["color"] == "green" %}#}
{#                                         style="background-color: green"#}
{#                                        {% else %}#}
{#                                         style="background-color: blue"#}
{#                                        {% endif %}>{{ time_table[0]["class"]["class_number"] }} {{ time_table[0]["class"]["color"] }}#}
{#                                </caption>#}
{#                                <thead>#}
{#                                <tr>#}
{#                                    <th rowspan="2">Hafta kunlari</th>#}
{#                                    {% for time in times %}#}
{#                                        <th>{{ time.start }} {{ time.end }}</th>#}
{#                                    {% endfor %}#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    {% for time in times %}#}
{#                                        <th>#}
{#                                            {% if time_table[0]["class"]["class_number"] <= 4 %}#}
{#                                                {% if time_table[0]["class"]["class_number"] <= 4 and time.start == "12:15" %}#}
{#                                                    lunch#}
{#                                                {% else %}#}
{#                                                    {{ time.lesson_count }}#}
{#                                                {% endif %}#}
{#                                            {% else %}#}
{#                                                {% if time_table[0]["class"]["class_number"] >= 5 and time.start == "13:10" %}#}
{#                                                    lunch#}
{#                                                {% else %}#}
{#                                                    {{ time.lesson_count }}#}
{#                                                {% endif %}#}
{#                                            {% endif %}#}
{##}
{#                                        </th>#}
{#                                    {% endfor %}#}
{#                                </tr>#}
{#                                </thead>#}
{##}
{#                                <tbody>#}
{#                                {% for info in time_table %}#}
{#                                    <tr>#}
{#                                        <td data-id="{{ info["day"]["day_id"] }}">{{ info["day"]["name"] }}</td>#}
{#                                        {% for lesson in info["lessons"] %}#}
{#                                            {% if info["class"]["class_number"] <=4 and lesson["lesson_time"]["start"] == "12:15" %}#}
{#                                                <td data-timeId="{{ lesson["lesson_time"]["id"] }}"#}
{#                                                    data-dayId="{{ info["day"]["id"] }}"#}
{#                                                    data-classId="{{ info["class"]["id"] }} " class=""#}
{#                                                    style="background-color: rgba(0,0,0,0.09)">#}
{#                                                </td>#}
{#                                            {% else %}#}
{#                                                {% if info["class"]["class_number"] >= 5 and lesson["lesson_time"]["start"] == "13:10" %}#}
{#                                                    <td data-timeId="{{ lesson["lesson_time"]["id"] }}"#}
{#                                                        data-dayId="{{ info["day"]["id"] }}"#}
{#                                                        data-classId="{{ info["class"]["id"] }} " class=""#}
{#                                                        style="background-color: rgba(0,0,0,0.09)">#}
{#                                                    </td>#}
{#                                                {% else %}#}
{#                                                    {% if lesson["lesson_time"]["count"] == "breakfast" %}#}
{#                                                        <td data-timeId="{{ lesson["lesson_time"]["id"] }}"#}
{#                                                            data-dayId="{{ info["day"]["id"] }}"#}
{#                                                            data-classId="{{ info["class"]["id"] }} " class=""#}
{#                                                            style="background-color: rgba(0,0,0,0.09)">#}
{#                                                        </td>#}
{#                                                    {% else %}#}
{#                                                        <td data-lessonId="{{ lesson["lesson_id"] }}"#}
{#                                                            data-timeId="{{ lesson["lesson_time"]["id"] }}"#}
{#                                                            data-dayId="{{ info["day"]["id"] }}"#}
{#                                                            data-classId="{{ info["class"]["id"] }} " class="zone-1"#}
{#                                                                {% if lesson["subject"] and  lesson["teacher"] and lesson["room"] %}#}
{#                                                            data-subjectId="{{ lesson["subject"]["id"] }}"#}
{#                                                            data-teacherId="{{ lesson["teacher"]["id"] }}"#}
{#                                                            data-roomId="{{ lesson["room"]["id"] }}"#}
{#                                                                {% endif %}#}
{#                                                                {% if not lesson["room"] and lesson["teacher"] and lesson["subject"] %}#}
{#                                                            data-subjectId="{{ lesson["subject"]["id"] }}"#}
{#                                                            data-teacherId="{{ lesson["teacher"]["id"] }}"#}
{#                                                                {% endif %}#}
{#                                                                {% if not lesson["teacher"] and lesson["room"] and lesson["subject"] %}#}
{#                                                            data-roomId="{{ lesson["room"]["id"] }}"#}
{#                                                            data-subjectId="{{ lesson["subject"]["id"] }}"#}
{#                                                                {% endif %}#}
{#                                                                {% if not lesson["subject"] and lesson["room"] and lesson["teacher"] %}#}
{#                                                            data-teacherId="{{ lesson["teacher"]["id"] }}"#}
{#                                                            data-roomId="{{ lesson["room_id"]["id"] }}"#}
{#                                                                {% endif %}#}
{#                                                                {% if not lesson["teacher"] and not lesson["room"] and lesson["subject"] %}#}
{#                                                            data-subjectId="{{ lesson["subject"]["id"] }}"#}
{#                                                                {% endif %}#}
{#                                                                {% if not lesson["subject_id"] and not lesson["room_id"] and lesson["teacher_id"] %}#}
{#                                                            data-teacherId="{{ lesson["teacher"]["id"] }}"#}
{#                                                                {% endif %}#}
{#                                                                {% if not lesson["teacher"] and not lesson["subject"] and lesson["room"] %}#}
{#                                                            data-roomId="{{ lesson["room"]["id"] }}"#}
{#                                                                {% endif %}#}
{#                                                        >#}
{#                                                            {% if not lesson["room"] and lesson["teacher"] and lesson["subject"] %}#}
{#                                                                {% if lesson["flow"] %}#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-subjectId="{{ lesson["subject"]["id"] }}"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}"#}
{#                                                                         style="background-color: grey">{{ lesson["flow"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-subjectId="{{ lesson["subject"]["id"] }}"#}
{##}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}"#}
{#                                                                         style="background-color: grey">{{ lesson["room"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                {% else %}#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-subjectId="{{ lesson["subject"]["id"] }}"#}
{#                                                                         draggable="true" data-isDropped="true"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["subject"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-teacherId="{{ lesson["teacher"]["id"] }}"#}
{#                                                                         draggable="true" data-isDropped="true"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["teacher"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                {% endif %}#}
{#                                                            {% endif %}#}
{#                                                            {% if not lesson["teacher"] and lesson["room"] and lesson["subject"] %}#}
{##}
{#                                                                {% if lesson["flow"] %}#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-roomId="{{ lesson["room"]["id"] }}"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}"#}
{#                                                                         style="background-color: grey">{{ lesson["flow"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-subjectId="{{ lesson["subject"]["id"] }}"#}
{##}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}"#}
{#                                                                         style="background-color: grey">{{ lesson["room"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                {% else %}#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-roomId="{{ lesson["room"]["id"] }}"#}
{#                                                                         draggable="true"#}
{#                                                                         data-isDropped="true"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["room"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-subjectId="{{ lesson["subject"]["id"] }}"#}
{#                                                                         draggable="true"#}
{#                                                                         data-isDropped="true"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["subject"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                {% endif %}#}
{#                                                            {% endif %}#}
{#                                                            {% if not lesson["subject"] and lesson["room"] and lesson["teacher"] %}#}
{#                                                                {% if lesson["flow"] %}#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-teacherId="{{ lesson["teacher"]["id"] }}"#}
{##}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}"#}
{#                                                                         style="background-color: grey">{{ lesson["flow"]["id"] }}#}
{#                                                                    </div>#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-roomId="{{ lesson["room"]["id"] }}"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}"#}
{#                                                                         style="background-color: grey">{{ lesson["room"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                {% else %}#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-teacherId="{{ lesson["teacher"]["id"] }}"#}
{#                                                                         draggable="true"#}
{#                                                                         data-isDropped="true"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">#}
{#                                                                        {{ lesson["teacher"]["name"] }}{{ lesson["teacher"]["surname"] }}#}
{#                                                                    </div>#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-roomId="{{ lesson["room"]["id"] }}"#}
{#                                                                         draggable="true"#}
{#                                                                         data-isDropped="true"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["room"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                {% endif %}#}
{#                                                            {% endif %}#}
{#                                                            {% if not lesson["teacher"] and not lesson["room"] and lesson["subject"] %}#}
{##}
{#                                                                {% if lesson["flow"]["name"] %}#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-subjectId="{{ lesson["subject"]["id"] }}"#}
{#                                                                         style="background-color: grey"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["flow"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-subjectId="{{ lesson["subject"]["id"] }}"#}
{#                                                                         style="background-color: grey"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["room"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                {% else %}#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-subjectId="{{ lesson["subject"]["id"] }}"#}
{#                                                                         draggable="true"#}
{#                                                                         data-isDropped="true"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["subject"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                {% endif %}#}
{#                                                            {% endif %}#}
{#                                                            {% if not lesson["subject"] and not lesson["room"] and lesson["teacher"] %}#}
{##}
{#                                                                {% if lesson["flow"] %}#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-teacherId="{{ lesson["teacher"]["id"] }}"#}
{#                                                                         style="background-color: grey"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["flow"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-subjectId="{{ lesson["subject"]["id"] }}"#}
{#                                                                         style="background-color: grey"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["room"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                {% else %}#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-teacherId="{{ lesson["teacher"]["id"] }}"#}
{#                                                                         draggable="true"#}
{#                                                                         data-isDropped="true"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["teacher"]["name"] }} {{ lesson["teacher"]["surname"] }}#}
{#                                                                    </div>#}
{#                                                                {% endif %}#}
{#                                                            {% endif %}#}
{#                                                            {% if not lesson["teacher"] and not lesson["subject"] and lesson["room"] %}#}
{##}
{#                                                                {% if lesson["flow"] %}#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-roomId="{{ lesson["room"]["id"] }}"#}
{#                                                                         style="background-color: grey"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["flow"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-subjectId="{{ lesson["subject"]["id"] }}"#}
{#                                                                         style="background-color: grey"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["room"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                {% else %}#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-roomId="{{ lesson["room"]["id"] }}"#}
{#                                                                         draggable="true"#}
{#                                                                         data-isDropped="true"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["room"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                {% endif %}#}
{#                                                            {% endif %}#}
{#                                                            {% if lesson["subject"] and  lesson["teacher"] and lesson["room"] %}#}
{##}
{#                                                                {% if lesson["flow"] %}#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-roomId="{{ lesson["room"]["id"] }}"#}
{#                                                                         style="background-color: grey"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["flow"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-subjectId="{{ lesson["subject"]["id"] }}"#}
{#                                                                         style="background-color: grey"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["room"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                {% else %}#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-roomId="{{ lesson["room"]["id"] }}"#}
{#                                                                         draggable="true"#}
{#                                                                         data-isDropped="true"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["room"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-subjectId="{{ lesson["subject"]["id"] }}"#}
{#                                                                         draggable="true"#}
{#                                                                         data-isDropped="true"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["subject"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                    <div class="time_subject subjects"#}
{#                                                                         data-teacherId="{{ lesson["teacher"]["id"] }}"#}
{#                                                                         draggable="true"#}
{#                                                                         data-isDropped="true"#}
{#                                                                         data-lessonId="{{ lesson["lesson_id"] }}">{{ lesson["teacher"]["name"] }}#}
{#                                                                    </div>#}
{#                                                                {% endif %}#}
{#                                                            {% endif %}#}
{#                                                        </td>#}
{#                                                    {% endif %}#}
{#                                                {% endif %}#}
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
{#                                    </tr>#}
{#                                {% endfor %}#}
{#                                </tbody>#}
{#                            </table>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script src="/static/js/creat_timetable/table_js.js"></script>
{% endblock %}
