<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time</title>
    <link rel="stylesheet" href="table.min.css">
</head>
<body>
<section class="time">
    <div class="time_class">
        <div class="div">
            <button id="class">Class</button>
            <button id="patok">Patok</button>
        </div>



        <div class="fanlar">
            <div class="fan">1-sinf</div>
            <div class="fan">1-sinf</div>
            <div class="fan">1-sinf</div>
            <div class="fan">1-sinf</div>
            <div class="fan">1-sinf</div>
            <div class="fan">1-sinf</div>
            <div class="fan">1-sinf</div>
            <div class="fan">1-sinf</div>
            <div class="fan">1-sinf</div>
            <div class="fan">1-sinf</div>
            <div class="fan">1-sinf</div>
        </div>
    </div>
    <div class="container">
        <div class="class_table">
            <div class="time_btns">
                <button id="subject">Subjects</button>
                <button id="teacher">Teachers</button>
                <button id="room">Rooms</button>
            </div>
            <div class="time_two">
                <div class="time_subjects active" id="subject_list">
                    <div class="time_first">
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                    </div>
                    <div class="time_first">
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                        <div class="time_subject">Math</div>
                    </div>
                </div>
                <div class="time_subjects" id="teacher_list">
                    <div class="time_first">
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                    </div>
                    <div class="time_first">
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                        <div class="time_subject">Teacher</div>
                    </div>
                </div>

                <div class="time_subjects" id="room_list">
                    <div class="time_first">
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                    </div>
                    <div class="time_first">
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                        <div class="time_subject">Room</div>
                    </div>
                </div>


                <div class="time_table">
                    <table>
                        <thead>
                        <tr>
                            <th rowspan="2">Hafta kunlari</th>
                            <th>8:00 - 8:45</th>
                            <th>10:00 - 10:45</th>
                            <th>10:00 - 10:45</th>
                            <th>10:00 - 10:45</th>
                            <th>10:00 - 10:45</th>
                            <th>10:00 - 10:45</th>
                            <th>10:00 - 10:45</th>
                            <th>10:00 - 10:45</th>
                        </tr>
                        <tr>
                            <th>1-xona</th>
                            <th>1-xona</th>
                            <th>1-xona</th>
                            <th>1-xona</th>
                            <th>1-xona</th>
                            <th>1-xona</th>
                            <th>1-xona</th>
                            <th>1-xona</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Dushanba</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dushanba</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dushanba</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dushanba</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dushanba</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dushanba</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dushanba</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dushanba</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dushanba</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dushanba</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dushanba</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dushanba</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>



</section>
<script src="table_js.js"></script>
</body>
</html>