<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../../static/css/register/reg.min.css">
</head>
<body>
<form action="{{ url_for("add_subject") }}" method="post">
    <section class="block">
        <div class="block_box">
            <h1>Add subject</h1>
            <div class="block_info">
                <div class="block_info_item name">Fan</div>
                <input type="text" class="input" placeholder="Fan" name="subject">
            </div>
            <button>Register</button>
        </div>
        <div class="block_index"></div>
    </section>
</form>
<script src="../../static/js/register/register.js"></script>
</body>
</html>