<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sinf</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="sinf.min.css">
</head>
<body>

<section class="main">
    <div class="main_box">
        <div class="main_profile">
            <div class="main_img">
                <div class="main_picture">
                    <img src="" alt="">
                    <div class="top"><i class="fa-solid fa-image"></i></div>
                </div>
                <h1>10-"V" Sinfi</h1>
            </div>
            <div class="icon_img_i"><i class="fa-solid fa-pen i"></i></div>
        </div>

        <div class="main_about">
            <div class="div">
                <div class="main_about_information">Name: <span>10-"V"</span></div>
                <div class="main_about_information">Student count: <span>23</span></div>
                <div class="main_about_information">Teacher: <span>Axmedova.U.K</span></div>
                <div class="main_about_information">Birth day: <span>3.02.2005</span></div>
            </div>

            <div class="main_table">
                <div><span>List of students</span></div>
                <table>
                    <tr>
                        <td><span>1.</span></td>
                        <td>Sevinch</td>
                        <td>Kasimxodjayeva</td>
                    </tr>
                    <tr>
                        <td><span>2.</span></td>
                        <td>Sevinch</td>
                        <td>Kasimxodjayeva</td>
                    </tr>

                    <tr>
                        <td><span>3.</span></td>
                        <td>Sevinch</td>
                        <td>Kasimxodjayeva</td>
                    </tr>

                    <tr>
                        <td><span>4.</span></td>
                        <td>Sevinch</td>
                        <td>Kasimxodjayeva</td>
                    </tr>

                    <tr>
                        <td><span>5.</span></td>
                        <td>Sevinch</td>
                        <td>Kasimxodjayeva</td>
                    </tr>

                    <tr>
                        <td><span>6.</span></td>
                        <td>Sevinch</td>
                        <td>Kasimxodjayeva</td>
                    </tr>

                    <tr>
                        <td><span>7.</span></td>
                        <td>Sevinch</td>
                        <td>Kasimxodjayeva</td>
                    </tr>

                    <tr>
                        <td><span>8.</span></td>
                        <td>Sevinch</td>
                        <td>Kasimxodjayeva</td>
                    </tr>
                    <tr>
                        <td><span>9.</span></td>
                        <td>Sevinch</td>
                        <td>Kasimxodjayeva</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>


    <div class="change">
        <div class="change_box">
            <div class="change_profile">
                <div class="change_img">
                    <div class="main_picture">
                        <img src="" alt="">
                        <div class="top"><i class="fa-solid fa-image"></i></div>
                    </div>
                    <h1>10-"V" Sinfi</h1>
                </div>
            </div>

            <div class="change_about">
                <div class="div">
                    <form action="">
                        <input type="text" value="class_nomi">
                        <select name="">
                            <option value="">o'qituvchi</option>
                        </select>
                        <button class="btn">Change</button>
                    </form>
                </div>

                <div class="change_table">
                    <div class="index">
                        <div class="title">O'quvchilar ro'yxati</div>
                        <div>
                            <div class="delete_btn"><i class="fa-solid fa-trash"></i></div>
                            <div class="exchange"><i class="fa-solid fa-arrow-right-arrow-left"></i></div>
                        </div>
                    </div>
                    <table>
                        <tr>
                            <td><span>1.</span></td>
                            <td>Sevinch</td>
                            <td>Kasimxodjayeva</td>
                            <td class="x"><i class="fa-solid fa-xmark "></i></td>
                            <td class="check"><i class="fa-solid fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><span>2.</span></td>
                            <td>Sevinch</td>
                            <td>Kasimxodjayeva</td>
                            <td class="x"><i class="fa-solid fa-xmark "></i></td>
                            <td class="check"><i class="fa-solid fa-check"></i></td>
                        </tr>

                        <tr>
                            <td><span>3.</span></td>
                            <td>Sevinch</td>
                            <td>Kasimxodjayeva</td>
                            <td class="x"><i class="fa-solid fa-xmark "></i></td>
                            <td class="check"><i class="fa-solid fa-check"></i></td>
                        </tr>

                        <tr>
                            <td><span>4.</span></td>
                            <td>Sevinch</td>
                            <td>Kasimxodjayeva</td>
                            <td class="x"><i class="fa-solid fa-xmark "></i></td>
                            <td class="check"><i class="fa-solid fa-check"></i></td>

                        </tr>

                        <tr>
                            <td><span>5.</span></td>
                            <td>Sevinch</td>
                            <td>Kasimxodjayeva</td>
                            <td class="x"><i class="fa-solid fa-xmark "></i></td>
                            <td class="check"><i class="fa-solid fa-check"></i></td>
                        </tr>

                        <tr>
                            <td><span>6.</span></td>
                            <td>Sevinch</td>
                            <td>Kasimxodjayeva</td>
                            <td class="x"><i class="fa-solid fa-xmark "></i></td>
                            <td class="check"><i class="fa-solid fa-check"></i></td>
                        </tr>

                        <tr>
                            <td><span>7.</span></td>
                            <td>Sevinch</td>
                            <td>Kasimxodjayeva</td>
                            <td class="x"><i class="fa-solid fa-xmark "></i></td>
                            <td class="check"><i class="fa-solid fa-check"></i></td>
                        </tr>

                        <tr>
                            <td><span>8.</span></td>
                            <td>Sevinch</td>
                            <td>Kasimxodjayeva</td>
                            <td class="x"><i class="fa-solid fa-xmark "></i></td>
                            <td class="check"><i class="fa-solid fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><span>9.</span></td>
                            <td>Sevinch</td>
                            <td>Kasimxodjayeva</td>
                            <td class="x"><i class="fa-solid fa-xmark"></i></td>
                            <td class="check"><i class="fa-solid fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><span>10.</span></td>
                            <td>Sevinch</td>
                            <td>Kasimxodjayeva</td>
                            <td class="x"><i class="fa-solid fa-xmark "></i></td>
                            <td class="check"><i class="fa-solid fa-check"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


</section>
<script src="sinf.js"></script>
</body>
</html>