{% extends 'admin/index.html' %}
{% block css %}
    <link rel="icon" href="/static/img/logo.jpg">
    <link rel="stylesheet" href="../../static/css/student/main.min.css">
    <link rel="stylesheet" href="../../static/css/student/index.min.css">
{% endblock %}


{% block section %}
    <div class="index">
        <div class="names">
            <div class="names_buttons">

                <button class="filter_btn">Filter</button>
                <div class="double">
                    <div class="names_search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Qidiruv" class="search">
                    </div>
                </div>
                <div class="link_for_delete_students" style="width: 100px; display: flex;justify-content: space-around">
                    <a href="{{ url_for("student") }}"><i class="fa-solid fa-user" style="font-size: 30px; color: #001b61"></i></a>
                    <a href=""><i class="fa-solid fa-user-slash" style="font-size: 30px; color: red"></i></a>
                </div>
                <div class="filter">
                    <select name="language_type" id="" class="language_type">
                        <option value="all">ALL</option>
                        {% for language in languages %}
                            <option value="{{ language.id }}">{{ language.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="class_number" class="class_number">
                        <option value="sinflar">sinflar</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                    </select>
                    <input type="text" name="from" class="from">
                    <input type="text" name="to" class="to">

                    <button class="form_filter">Search</button>
                </div>
            </div>
            <div class="names_list">
                <table>
                    <thead>
                    <tr>
                        <th>No</th>
                        <th></th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Age</th>
                        <th>Phone number</th>
                        <th>Language</th>
                    </tr>
                    </thead>

                    <tbody class="tbody">

                    {% for page in pages.items %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="{{ url_for("student_profile", student_id=page.user.id) }}"><img
                                    src="{{ page.user.image }}" alt=""></a></td>
                            <td>{{ page.user.name }}</td>
                            <td>{{ page.user.surname }}</td>
                            <td>{{ page.user.age }}</td>
                            <td>{{ page.user.number }}</td>
                            <td>{{ page.language.name }}</td>
                            <td><i class="fa-solid fa-trash" style="color: red" data-id="{{ page.id }}"></i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if student_count >= 50 %}
                <div class="next">
                    <button {% if not pages.has_prev %}class="disabled" {% endif %}><a
                            {% if not pages.has_prev %}class="disabled" {% endif %}
                            href="deleted_students?page={{ pages.prev_num }}"><i
                            class="fa-solid fa-chevron-left"></i></a></button>
                    {% for page in pages.iter_pages() %}
                        <button><a href="deleted_students?page={{ page }}">{{ page }}</a></button>
                    {% endfor %}
                    <button {% if not pages.has_prev %}class="disabled" {% endif %}><a
                            {% if not pages.has_prev %}class="disabled" {% endif %}
                            href="deleted_students?page={{ pages.next_num }}"><i class="fa-solid fa-chevron-right"></i></a>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="../../static/js/deleted_student_list/deleted_student_list.js"></script>
{% endblock %}