<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Turon</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!--    <link rel="stylesheet" href="src/style/css/style.min.css">-->
    <link rel="stylesheet" href="/static/css/home2/src/style/style.min.css">
</head>
<body>

<section class="home">
    <div class="home_img">
        <header class="header">
            <div class="logo">
                <img src="/static/css/home2/src/assets/img/logo.png" alt="">
            </div>
            <ul>
                <li>
                    <div class="about_us">
                        <p style="font-size: 2rem; color: white">About us</p>
                        <div class="about_us_menu">
                            <a href="{{ url_for("teach_asses") }}">
                                <div class="class_items">
                                    <p>Teaching and Assessment</p>
                                </div>
                            </a>
                            <a href="{{ url_for("student_learning_and_well_being") }}">
                                <div class="class_items">
                                    <p>Students’ learning and Well-being</p>
                                </div>
                            </a>
                            <a href="{{ url_for("community_and_partnership") }}">
                                <div class="class_items">
                                    <p>Community and Home Partnership</p>
                                </div>
                            </a>
                            <a href="{{ url_for("premises") }}">
                                <div class="class_items">
                                    <p>Premises</p>
                                </div>
                            </a>
                            <a href="{{ url_for("staffing") }}">
                                <div class="class_items">
                                    <p>Staffing</p>
                                </div>
                            </a>
                            <a href="{{ url_for("governance_ownership_leadership") }}">
                                <div class="class_items">
                                    <p>Governance, Ownership and Leadership</p>
                                </div>
                            </a>
                            <a href="{{ url_for("purpose_direction") }}">
                                <div class="class_items">
                                    <p>Purpose Direction</p>
                                </div>
                            </a>
                            <a href="{{ url_for("curriculum") }}">
                                <div class="class_items">
                                    <p>Curriculum</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li><a href="{{ url_for('education') }}">Education</a></li>
                <li><a href="{{ url_for('news_front') }}">News</a></li>
                <li><a href="{{ url_for('work_info') }}">Work with us</a></li>
                <li><a href="{{ url_for('campus_life') }}">Campus Life</a></li>
                <li><a href="{{ url_for('time_table') }}">Academic Calendar</a></li>
                <a href="{{ url_for('login') }}">
                    <button class="btn login">Login</button>
                </a>
                <a href="{{ url_for('mock') }}">
                    <button class="btn apply">Apply</button>
                </a>
            </ul>
        </header>
    </div>
    <div class="home_information">
        <div class="about">
            <h1>Our vision</h1>
            <div>"Our vision at Turon International School is to be a pioneering institution in Uzbekistan, renowned for
                excellence in STEM and IT education. We aim to foster a community of innovative thinkers and global
                leaders,
                equipped with the knowledge and skills to shape the future. Our commitment is to provide an inspiring
                and
                technologically advanced learning environment where students are empowered to discover their passions,
                pursue excellence, and make meaningful contributions to the world."
            </div>
            <div class="info_link">
                <a href="">Learn more</a>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
    </div>

</section>

<div class="menu">
    <ul>
        <li><a href="#" class="about_btn">About us
            <span><i class="fa-solid fa-chevron-down"></i></span>
        </a>
            <div class="hide">
                <ul class="about_show">
                    <li><a href="{{ url_for("teach_asses") }}">Teaching and Assesment</a></li>
                    <li><a href="{{ url_for("student_learning_and_well_being") }}">Student learning and Well-being</a>
                    </li>
                    <li><a href="{{ url_for("community_and_partnership") }}">Community and Home Partnership</a></li>
                    <li><a href="{{ url_for("premises") }}">Premises</a></li>
                    <li><a href="{{ url_for("staffing") }}">Staffing</a></li>
                    <li><a href="{{ url_for("governance_ownership_leadership") }}">Governance, Ownership and
                        Leadership</a></li>
                    {#                    <li><a href="{{ url_for("purpose_direction") }}">Purpose Direction</a></li>#}
                    {#                    <li><a href="{{ url_for("curriculum") }}">Curriculum</a></li>#}
                </ul>
            </div>
        </li>
        <li><a href="{{ url_for('education') }}">Education</a></li>
        <li><a href="{{ url_for('news_front') }}">News</a></li>
        <li><a href="{{ url_for('work_info') }}">Work with us</a></li>
        <li><a href="{{ url_for('campus_life') }}">Campus Life</a></li>
        <li><a href="{{ url_for('time_table') }}">Academic Calendar</a></li>
        <a href="{{ url_for('login') }}">
            <button class="btn login">Login</button>
        </a>
        <a href="{{ url_for('mock') }}">
            <button class="btn apply">Apply</button>
        </a>
    </ul>
</div>
<div class="hamburger">
    <div class="hamburger_circle">
        <div class="hamburger_radius"></div>
        <div class="hamburger_plus">
            <i class="fa-solid fa-bars bar"></i>
        </div>
    </div>
</div>

<section class="news">
    <h1 class="title">YANGILIKLAR</h1>

    <div class="news_block active ">
        <div class="swiper swiper_none">
            <div class="swiper-wrapper">


                {% for new in news %}
                    <div class="news_box swiper-slide">
                        <img src="{{ new.img }}" alt="">
                        <div class="news_info">
                            <h2>{{ new.title }} {{ new.date }}</h2>
                            <div>{{ new.text }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="left"><i class="fa-solid fa-arrow-left"></i></div>
            <div class="right"><i class="fa-solid fa-arrow-right"></i></div>

        </div>


    </div>

    <div class="news_block">
        {% for new in news %}
            <div class="news_box">
                <img src="{{ new.img }}" alt="">
                <div class="news_info">
                    <h2>{{ new.title }}</h2>
                    <h2>{{ new.date.year }}-{{ new.date.month }}-{{ new.date.day }}</h2>
                    <div>{{ new.text|truncate(300) }}
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

</section>


<section class="gallery">
    <h1 class="title">Gallery</h1>
    <div class="gallery_block">
        <div class="swiper my_swiper">
            <div class="swiper-wrapper gallery_swiper">
                <div class="box_img swiper-slide"><img src="/static/css/home2/src/assets/img/Rectangle%20112.png"
                                                       alt=""></div>
                <div class="box_img swiper-slide"><img src="/static/css/home2/src/assets/img/Rectangle%20114.png"
                                                       alt=""></div>
                <div class="box_img swiper-slide"><img
                        src="/static/css/home2/src/assets/img/photo_2024-01-14_17-33-30.jpg" alt="">
                </div>
                <div class="box_img swiper-slide"><img src="/static/css/home2/src/assets/img/school_background.JPG"
                                                       alt=""></div>
                <div class="box_img swiper-slide"><img src="/static/css/home2/src/assets/img/Rectangle%20112.png"
                                                       alt=""></div>
                <div class="box_img swiper-slide"><img src="/static/css/home2/src/assets/img/Rectangle%20114.png"
                                                       alt=""></div>
                <div class="box_img swiper-slide"><img
                        src="/static/css/home2/src/assets/img/photo_2024-01-14_17-33-30.jpg" alt="">
                </div>
                <div class="box_img swiper-slide"><img src="/static/css/home2/src/assets/img/school_background.JPG"
                                                       alt=""></div>
                <div class="box_img swiper-slide"><img src="/static/css/home2/src/assets/img/Rectangle%20114.png"
                                                       alt=""></div>
            </div>

            <div class="left"><i class="fa-solid fa-arrow-left"></i></div>
            <div class="right"><i class="fa-solid fa-arrow-right"></i></div>

        </div>


        <div class="images">
            <div class="box_img swiper-slide"><img src="/static/css/home2/src/assets/img/Rectangle%20112.png" alt="">
            </div>
            <div class="box_img swiper-slide"><img src="/static/css/home2/src/assets/img/Rectangle%20114.png" alt="">
            </div>
            <div class="box_img swiper-slide"><img src="/static/css/home2/src/assets/img/photo_2024-01-14_17-33-30.jpg"
                                                   alt=""></div>
            <div class="box_img swiper-slide"><img src="/static/css/home2/src/assets/img/school_background.JPG" alt="">
            </div>
            <div class="box_img swiper-slide"><img src="/static/css/home2/src/assets/img/Rectangle%20112.png" alt="">
            </div>
            <div class="box_img swiper-slide"><img src="/static/css/home2/src/assets/img/Rectangle%20114.png" alt="">
            </div>
            <div class="box_img swiper-slide"><img src="/static/css/home2/src/assets/img/photo_2024-01-14_17-33-30.jpg"
                                                   alt=""></div>
            <div class="box_img swiper-slide"><img src="/static/css/home2/src/assets/img/school_background.JPG" alt="">
            </div>
            <div class="box_img swiper-slide"><img src="/static/css/home2/src/assets/img/Rectangle%20114.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d95882.13650631218!2d69.2617216!3d41.3237248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1705487816862!5m2!1sen!2s"
            style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>


<footer class="footerLinks">
    <div class="footerLinks_block">
        <div class="info">
            <h1>About us</h1>
            <a href="{{ url_for("teach_asses") }}">Teaching and Assesment</a>
            <a href="{{ url_for("student_learning_and_well_being") }}">Student learning and Well-being</a>
            <a href="{{ url_for("community_and_partnership") }}">Community and Home Partnership </a>
            <a href="{{ url_for("premises") }}">Premises</a>
            <a href="{{ url_for("staffing") }}">Staffing</a>
            <a href="{{ url_for("governance_ownership_leadership") }}">Governance, Ownership and Leadership</a>
        </div>

        <div class="info">
            <h1>Other links</h1>
            <a href="{{ url_for('education') }}"> Education</a>
            <a href="{{ url_for('news_front') }}">News</a>
            <a href="{{ url_for('work_info') }}">Work with us </a>
            <a href="{{ url_for('campus_life') }}"> Campus Life</a>
            <a href="{{ url_for('time_table') }}">Academic Calendar</a>
            <a href="{{ url_for('mock') }}">Apply</a>
        </div>

        <div class="info">
            <h1>Contact</h1>
            <a href="">Register</a>
            <a href=""> Instagram</a>
            <a href="">Telegram </a>
            <a href="">Facebook</a>

        </div>
    </div>

    <div class="number">
        <div class="logo"><img src="/static/css/home2/src/assets/img/logo.png" alt=""></div>
        <div>Phone number: +9998943103333</div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.right',
            prevEl: '.left',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });
</script>
<script>

    let menu_bar = document.querySelector('.bar'),
        menu = document.querySelector('.menu');

    menu_bar.addEventListener('click', () => {
        if (menu_bar.className === 'fa-solid fa-xmark bar') {
            menu_bar.className = "fa-solid fa-bars bar"
            menu.style.display = "none"
        } else {
            menu_bar.className = "fa-solid fa-xmark bar"
            menu.style.display = "flex"
        }

    })

    const about_btn = document.querySelector('.about_btn')
    const about_show = document.querySelector('.about_show')
    const about_hide = document.querySelector('.hide')


    about_btn.addEventListener('click', () => {
        if (about_hide.clientHeight === 0) {
            about_hide.style.height = about_show.clientHeight + "px"
        } else {
            about_hide.style.height = 0
        }
    })

    function addClass(boxes) {
        boxes[0].classList.add("w2")
        boxes[4].classList.add("h2")
        boxes[5].classList.add("w2")
    }

    function updateGallery(response) {
        let big = document.querySelector('.images');
        let swiperWrapper = document.querySelector('.gallery_swiper');
        big.innerHTML = ''
        swiperWrapper.innerHTML = ''
        for (let img of response['gallery_list']) {
            big.innerHTML += `<div class="box_img swiper-slide" data-id="${img['id']}">
                    <img src="${img['img_url']}" alt="">
                </div>`
        }
        for (let img of response['gallery_list']) {
            swiperWrapper.innerHTML += `<div class="box_img swiper-slide" data-id="${img['id']}">
                    <img src="${img['img_url']}" alt="">
                </div>`
        }
        let boxes = document.querySelectorAll(".box_img");

        boxes.forEach(item => {
            item.addEventListener("click", async () => {


            })
        })
        console.log(boxes)
        if (!boxes) {
            addClass(boxes)
        }

    }

    fetch('/get_gallery', {
        method: "GET",
    })
        .then(function (response) {
            return response.json()
        })
        .then(function (response) {
            updateGallery(response)
        })
    const header = document.querySelector(".header");
    const li = document.querySelectorAll("header ul li a");
    const p = document.querySelector("header ul li p");
    const login = document.querySelector(".login");
    li.forEach(item => {
        item.style.color = "white"
    })
    p.style.color = "white"

    function changeWidth() {
        let scroll = (window.pageYOffset)
        console.log(scroll)
        if (scroll >= 600) {
            login.style.backgroundColor = 'white'
            login.style.color = '#001b61'
            header.style.backgroundColor = '#001b61'
            li.forEach(item => {
                item.style.color = "white"
            })
        } else if (scroll <= 600) {
            login.style.backgroundColor = '#001b61'
            login.style.color = 'white'
            li.forEach(item => {
                item.style.color = "white"
            })
            header.style.backgroundColor = 'none'
            header.style.backgroundColor = "transparent"
        }
    }

    window.addEventListener("scroll", function () {
        requestAnimationFrame(changeWidth)
    })
</script>


</body>
</html>