<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/static/css/campus_life/life.min.css">
    <link rel="stylesheet" href="/static/css/home/include/menu.min.css">

</head>
<body>

<div class="introduction">
    {% include 'home/menu.html' %}
</div>
<section class="campus_life">
    <div class="campus_life_img">
        <img src="/static/img/Rectangle%20550.png" alt="">
    </div>
    <div class="campus_life_box">
        <h1>MAKTAB</h1>
        <div>Prezident maktabi ixtisoslashtirilgan davlat ta’lim muassasasi bo‘lib, uning faoliyati iqtidorli bolalarni
            aniqlash va yuqori malakali mutaxassislar tomonidan tarbiyalashga qaratilgan. Maktab Toshkent viloyatining
            mahalliy va xalqaro hamjamiyatlari uchun yuqori sifatli akademik va maktabdan tashqari dasturni taqdim
            etadi. O‘zbekiston Respublikasi Prezidentining 2019-yil 20-fevraldagi “Qoraqalpog‘iston Respublikasi,
            viloyatlar va Toshkent shahrida Prezident maktablarini tashkil etish chora-tadbirlari to‘g‘risida”gi
            PQ-4199-son qaroriga muvofiq 2021-yilda tashkil etilgan. Ta'lim ingliz va o'zbek tillarida olib boriladi.
            Hozir maktabimizda 168 nafar o‘quvchi tahsil oladi. Hozir maktabda uchta kampus mavjud: Akademik blok, sport
            maydonchasi va internat bo'limi.
        </div>
    </div>
</section>

<section class="campus_life">

    <div class="campus_life_box">
        <h1>QABUL QILISHLARI</h1>
        <div>
            Har yili muassasa faqat 5-sinfga talabalarni qabul qiladi. Vaholanki, maktab yangi tashkil etilganda
            o‘quvchilar tarkibini to‘ldirish uchun 5-10-sinf o‘quvchilarini qabul qilgan. Ariza topshirish huquqiga ega
            bo'lish uchun abituriyent maktabda matematika va tabiiy fanlar bo'yicha a'lo darajadagi rekordga ega
            bo'lishi kerak. Qabul uch bosqichdan iborat. Birinchi bosqich - hujjatlarni onlayn tarzda topshirish. Onlayn
            ariza tasdiqlangandan so'ng, nomzodlar. ikkinchi bosqichga kirish chiptasini oling, unda talabalar
            matematika bo'yicha 30 ta savoldan iborat testni hal qilishadi. Ikkinchi bosqichda eng yaxshi o‘rinlarni
            egallagan 480 nafar talaba final bosqichiga yo‘llanma oladi. Yakuniy bosqich uchta bo'limdan iborat bo'lib,
            bu bo'limlarning yig'indisi 100% ni tashkil qiladi: Tanqidiy fikrlash (32%), Muammoni hal qilish (48%) va
            ingliz tili (20%). Yakuniy bosqichdan faqat 24 nafar talaba qabul qilinadi. Cambridge Assessment
            International Education imtihon materiallarini taqdim etadi va imtihon jarayonini to'liq nazorat qiladi.
        </div>
    </div>

    <div class="campus_life_img">
        <img src="/static/img/Rectangle%20550.png" alt="">
    </div>


</section>


<section class="campus_life">
    <div class="campus_life_img">
        <img src="/static/img/Rectangle%20550.png" alt="">
    </div>
    <div class="campus_life_box">
        <h1>MAKTAB MISSIYASI VA VIZIYON</h1>
        <div>“Mamlakatning kelajagi yetakchilari va oʻquvchilarini xalqaro tanlov va olimpiadalarda muvaffaqiyatga
            erishish hamda jahon miqyosidagi universitetlarga oʻqishga kirishga tayyorlash. Global miqyosda raqobatlasha
            oladigan yetakchilar biz tomondan tayyorlanmoqda. talabalarning yuksak yutuqlari va har tomonlama barkamol
            ta’lim olishi bilan mashhur.Maqsadimiz – O‘zbekiston taraqqiyoti uchun kelajak avlod yetakchilarini
            tayyorlash.
        </div>
        <h1>Bizning jamoat</h1>
        <div>Maktab ko'p tarmoqli iqtisodiy bazaga ega bo'lgan shaharning eng tez rivojlanayotgan hududlaridan birida
            (tuman) joylashgan. Hozirgi vaqtda tuman akademik litsey va universitet, bir qancha o'rta maktablar va ba'zi
            sport zallaridan iborat. Talabalar jamoasi madaniy jihatdan rang-barang, Toshkentning turli viloyatlari
            aholisi.
        </div>
    </div>
</section>

<section class="campus_life">

    <div class="campus_life_box">
        <h1>O'QUV REJASI</h1>
        <div>O'quv dasturi o'zbek milliy o'quv dasturi va CAIE o'quv dasturini birlashtiradi. 8 va 9-sinf o'quvchilari
            beshta majburiy IGCSE fanlarini (matematika, fizika, kimyo, biologiya va informatika) oladilar. IGCSE
            imtihonlarini tugatgandan so'ng, 10-sinf bo'lajak o'quvchilari kelgusi ikki o'quv yilida o'qish uchun mavjud
            to'rtta fandan (Kimyo. Fizika, Biologiya, Informatika) ikkita AS va A darajasidagi fanlarni tanladilar.
            Bundan tashqari, AS va A darajasidagi matematika barcha talabalar uchun majburiydir. 2022-2023 o'quv yili
            uchun maktab 9 va 10-sinf o'quvchilari uchun AS biznes darslarini taklif qila boshladi. Shuningdek,
            talabalar AS darajasidagi fanlarni 10 o‘rniga 9-sinfda o‘qishni boshlashlari mumkin. Oltitadan iborat 5-sinf
            o‘quvchilaridan tashqari, barcha sinflarda dushanbadan jumagacha kuniga yettita davr (har biri 45 daqiqa)
            mavjud. Darslar 8:30 dan 15:20 gacha o'tkaziladi.
        </div>
    </div>

    <div class="campus_life_img">
        <img src="/static/img/Rectangle%20550.png" alt="">
    </div>


</section>
<script src="/static/js/include/menu/menu.js"></script>
</body>
</html>